@import 'https://unpkg.com/normalize.css@8.0.1/normalize.css';

html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

iframe {
	flex: 1;
	border: 0;
}

header {
	display: flex;
	flex: 0;
	height: auto;
}

main {
	display: flex;
	flex: 1;
}
